.container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 3rem;
  max-height: calc(100svh - 64px);
}

.tableContainer {
  height: calc(100svh - 20rem);
}

.inative {
  background-color: #fdecec;
  color: #E53E3E;
}

.active {
  background-color: #daf4e3;
  color: #46855b;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 1rem;
    gap: 1rem;
  }
}