.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  gap: 3rem;
}

.filtersRow {
  display: flex;
  gap: 2rem;
}

.filtersRow input {
  height: 1rem;
  width: 18.75rem;
  max-width: 100vw;
}

.filtersSelect {
  display: flex;
  align-items: center;
  gap: 2rem;
}


@media screen and (max-width: 800px) {
  .container {
    gap: 1rem;
  }


  .filtersRow {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    gap: 1rem;
  }

  .filtersRow div {
    width: 90vw;
  }
}

